.plms-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8px;
}

.header-content{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout-container{
    display: flex;
    padding: 8px 18px 8px 12px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #8F14CC;
}

.logout-text{
    color: #0B090D;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 600;
}