.status-container {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    gap: 12px;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    flex-grow: auto;
    background-color: #F7F0FF;
    color: #8F14CC;
    cursor: pointer;
    transition: padding 0.3s;
}

:hover.status-container{
    background-color: #0DB78F;
    color: #FFFFFF;
}

.selected{
    padding: 14px;
    background-color: #0DB78F;
    color: #FFFFFF;
}